.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tabloid {
    flex-grow: 2;
    display: flex;
    flex-direction: row; 
}

.side-by-side {
    flex-grow: 1;
    margin: 20px;
}

.data-box {
    width: 95%;
    height: 95%;
}

.danger {
    background-color: #ff7777;
}

.warning {
    background-color: #ffff77;
}

.player {
    width: 95%;
    display: block;
    bottom: 0;
    margin: 20px;
}

.full-width {
    width: 100%;
}
